<div class="ui-g">
  <div class="ui-g-3">
    <div style="padding-top:10px">
      <p-panel header="服務管理">
        <div *ngFor="let project of projects;let projectI = index">
          <p-fieldset legend="{{project.projectName}}" [toggleable]="true">

            <div *ngFor="let caseX of project.cases;let caseJ = index" style="margin-bottom:2px">
              <button pButton icon="fa fa-pencil" iconPos="left"
                      label="{{caseX.caseName}}"
                      (click)="changeToCase(projectI, caseJ)"
              ></button>

              <button pButton icon="fa fa-times" iconPos="left"></button>
            </div>

          </p-fieldset>
          <br>
        </div>


      </p-panel>

    </div>


  </div>
  <div class="ui-g-9">

    <div style="padding-top:10px">

      <p-panel header="{{this.selectedCase.projectName+'_'+this.selectedCase.caseName}}">
        歷程檔案:
        <p-fileUpload #fileUploadTxt
                      name="myfile[]"
                      customUpload="true"
                      (uploadHandler)="uploadHistoryFile($event)"></p-fileUpload>

        <br>

        功能對照表:
        <p-fileUpload #fileUploadExcel
                      name="myfile1[]"
                      customUpload="true"
                      (uploadHandler)="parseFunctionListExcel($event)"
                      (onRemove)="removeExcel()"
                      (onClear)="removeExcel()"

        >


        </p-fileUpload>

        <br>

        <p-dataTable
          [value]="selectedCaseFunctionListDataSets"
          [(selection)]="selectedCaseFunctionListDataSets_added"
          dataKey="A"
          [paginator]="true"
          [rows]="10"
          [headerCheckboxToggleAllPages]="true">
          <p-header>功能列表</p-header>
          <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
          <p-column field="A" header="ID" [style]="{'width':'60px'}"></p-column>
          <p-column field="B" header="功能名稱"></p-column>
          <p-column field="C" header="功能路徑"></p-column>
          <p-column field="D" header="功能類別"></p-column>
        </p-dataTable>
        <br>
        群集數:<input type="text" pInputText [(ngModel)]="numOfCluster" style="margin-left:5px"/>


        <button pButton
                icon="fa fa-area-chart"
                iconPos="right"
                label="分析"
                [disabled]="AllFileNotReady"
                (click)="analyze()"></button>


      </p-panel>


    </div>


  </div>


</div>

<p-dialog header="" [(visible)]="loading"
          width="300" [responsive]="true"
          showEffect="fade" [modal]="true"
          [closable]="false">
  <h1>loading</h1>
</p-dialog>



