<div
  style="
     background-image: url('../assets/image/intro-bg.jpg');
     height:100vh;
     width:100%;
     margin: 0;
     padding: 0;"
  class="main"
>
  <p-toolbar>
    <div class="ui-toolbar-group-left">
      <ng-sidebar-container [(animate)]="_animate">
        <!-- A sidebar -->
        <ng-sidebar [(opened)]="_opened" [closeOnClickOutside]="_closeOnClickOutside"
                    [mode]="'over'" [showBackdrop]="true">
          <!--<p-panelMenu [model]="views" [style]="{'width':'300px'}"></p-panelMenu>-->
          <p-menu [model]="views" [style]="{'width':'300px'}"></p-menu>
        </ng-sidebar>
        <!-- Page content -->
        <button pButton icon="fa fa-bars" iconPos="right" (click)="_toggleSidebar()"></button>
        <h3 style="margin-left:10px"> 服務斷點分析系統</h3>
      </ng-sidebar-container>
    </div>

    <div class="ui-toolbar-group-right">
      <div [hidden]="userLogged">
        UserId:<input type="text" pInputText [(ngModel)]="userId" style="margin-left:5px"/>
        Password:<input type="password" pInputText [(ngModel)]="passWd"/>
        <button pButton type="text" icon="fa fa-user-circle-o" iconPos="right" label="登入"
                (click)="login()"></button>
      </div>
      <div [hidden]="!userLogged">
        &nbsp;
        {{userId}}&nbsp;&nbsp;<i class="fa fa-user-circle-o" aria-hidden="true"></i>
        &nbsp;
        <button pButton type="text" label="登出" (click)="logOut()"></button>
      </div>
    </div>

  </p-toolbar>


  <div [hidden]="!userLogged" style="background-color:white">
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>

  <div [hidden]="userLogged" style="text-align:center">
    <h1 style="color:white">斷點服務分析</h1>
    <h4 style="color:white">UIUX優化分析平台</h4>
    <h4 style="color:white">{{welcomeStr}}</h4>
  </div>


</div>
