/*.ng-sidebar--animate.ng-sidebar[_ngcontent-c2] {*/
/*box-shadow: 0 0 2.5em rgba(85, 85, 85, .5) !important;*/
/*border-color: aqua;*/
/*}*/

h2, h3 {
  display: inline;
}

div {
  font-family: Microsoft JhengHei, serif, sans-serif, cursive, fantasy, monospace;
}

span {
  font-family: Microsoft JhengHei, serif, sans-serif, cursive, fantasy, monospace !important;

}
