<div class="ui-g">

  <div class="ui-g-2">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;專案:
    <p-dropdown
      [options]="projectList"
      [(ngModel)]="selectedProject"
      [autoWidth]="false"
      [style]="{'width':'150px'}"
      placeholder="選擇專案"
      (onChange)="changeProject_dropDownClick($event)"
    ></p-dropdown>

  </div>
  <div class="ui-g-2">

    分析案例:
    <p-dropdown
      [options]="selectedCasesList"
      [(ngModel)]="selectedCase"
      [autoWidth]="false"
      [style]="{'width':'150px'}"
      placeholder="選擇案例"
      (onChange)="changeCase_dropDownClick($event)"

    ></p-dropdown>

  </div>

  <!--<div class="ui-g-4">-->
  <!--<br>-->
  <!--<button pButton (click)="changeProjectAndCase()" label="變更案例"></button>-->
  <!--</div>-->


  <div class="ui-g-4">
    分析日期:
    <p-dropdown
      [options]="TimeList"
      [(ngModel)]="selectedTime"
      [autoWidth]="false"
      [style]="{'width':'300px'}"
      placeholder="選擇分析日期"
    ></p-dropdown>
  </div>

  <div class="ui-g-2">
    <br>
    <button pButton (click)="getFlowChartData()" icon="fa fa-search" iconPos="right" label="搜尋"></button>
  </div>


</div>


<div class="ui-g">


  <div class="ui-g-2">
    <!--placeholder="選擇流程"-->
    選擇群集:
    <p-dropdown
      [options]="clusters"
      [(ngModel)]="selectedCluster"
      [autoWidth]="false"
      [style]="{'width':'150px'}"

      (onChange)="changePlotOfCluster_dropDownClick($event)"

    ></p-dropdown>
  </div>

  <div class="ui-g-2">
    <br>
    嚴重程度:{{selectedWeakScore}}

  </div>

</div>

<div [hidden]="flowChartHidden">
  <div>
    <h2 style="text-align: center!important;">案例分析圖</h2>
  </div>
  <div class="ui-g">
    <div class="ui-g-2"></div>

    <div class="ui-g-6">
      <div style="text-align: center!important;">
        <case-flow-chart
          [Option]="flowChartOption"
          [data]="selectedFlowChartDataSets">
        </case-flow-chart>
      </div>
    </div>


  </div>


</div>



