<div class="ui-g">

  <div class="ui-g-2">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;專案:
    <p-dropdown
      [options]="projectList"
      [(ngModel)]="selectedProject"
      [autoWidth]="false"
      [style]="{'width':'150px'}"
      placeholder="選擇專案"
      (onChange)="changeProject_dropDownClick($event)"
    ></p-dropdown>

  </div>
  <div class="ui-g-2">

    分析案例:
    <p-dropdown
      [options]="selectedCasesList"
      [(ngModel)]="selectedCase"
      [autoWidth]="false"
      [style]="{'width':'150px'}"
      placeholder="選擇案例"
      (onChange)="changeCase_dropDownClick($event)"

    ></p-dropdown>

  </div>
  <!--<div class="ui-g-2">-->
  <!--<br>-->
  <!--嚴重程度:{{selectedWeakScore}}-->

  <!--</div>-->

  <div class="ui-g-3">
    開始日期:
    <p-calendar [(ngModel)]="startTime"
                [showIcon]="true"
                [showTime]="true"
                dateFormat="yy-mm-dd"
    ></p-calendar>
    <span style="margin-left:35px"></span>
  </div>

  <div class="ui-g-3">
    結束日期:
    <p-calendar [(ngModel)]="endTime"
                [showIcon]="true"
                [showTime]="true"
                dateFormat="yy-mm-dd"
    ></p-calendar>
    <span style="margin-left:35px"></span>
  </div>

  <div class="ui-g-2">
    <br>
    <button pButton icon="fa fa-search" iconPos="right" (click)="changeProjectAndCase()" label="搜尋"></button>
  </div>


</div>


<!--<div class="ui-g">-->
<!--<div class="ui-g-2">-->
<!--服務流程群集:-->

<!--&lt;!&ndash;placeholder="選擇流程"&ndash;&gt;-->
<!--<p-dropdown-->
<!--[options]="clusters"-->
<!--[(ngModel)]="selectedCluster"-->
<!--[autoWidth]="false"-->
<!--[style]="{'width':'150px'}"-->

<!--(onChange)="changePlotOfCluster_dropDownClick($event)"-->

<!--&gt;</p-dropdown>-->


<!--</div>-->
<!--</div>-->
<!--<div>-->
<!--<h2 style="text-align: center!important;">案例分析圖</h2>-->

<!--</div>-->
<!--<div class="ui-g">-->

<!--<div class="ui-g-2"></div>-->


<!--<div class="ui-g-6">-->
<!--<div style="text-align: center!important;" [hidden]="flowChartHidden">-->

<!--<case-flow-chart-->
<!--[Option]="flowChartOption"-->
<!--[data]="selectedFlowChartDataSets">-->

<!--</case-flow-chart>-->
<!--</div>-->
<!--</div>-->


<!--</div>-->

<div>
  <p-dataTable
    [value]="selectedCaseData"
    dataKey="id"
    [paginator]="true"
    [rows]="5"
  >
    <p-header>分析patterns</p-header>
    <p-column field="id" header="num" [style]="{'width':'60px'}"></p-column>
    <p-column field="projectName" header="projectName" [style]="{'width':'150px'}"></p-column>
    <p-column field="caseName" header="caseName" [style]="{'width':'180px'}"></p-column>
    <p-column field="goJsDataModel" header="pattern" [style]="{'height':'130px'}">
      <ng-template let-col let-pattern="rowData" pTemplate="body">
        <basic-pattern-flow-chart [Option]="pattern['goJsOption']"
                                  [data]="pattern[col.field]"></basic-pattern-flow-chart>
      </ng-template>

    </p-column>

    <p-column field="goJsDataModel" header="pattern" [style]="{'width':'150px'}">
      <ng-template let-col let-pattern="rowData" pTemplate="body" let-i="rowIndex">
        <button pButton icon="fa fa-eye" label="檢視" (click)="showRecommandPlots(pattern,i)"></button>
      </ng-template>
    </p-column>
  </p-dataTable>

</div>


<p-dialog header="" [(visible)]="showRecommandDialog"
          [responsive]="true" width="1200" height="800"
          showEffect="fade" [modal]="true"
          [closable]="true">
  <div style="text-align:center">
    <h1>服務修正建議</h1>

  </div>

  <div class="ui-g" style="margin:10px!important;">
    <div class="ui-g-5" style="border: 2px solid #000000!important;">
      <div>斷點pattern:
        <br>
        <basic-pattern-flow-chart
          [Option]="ViewingPatternOption"
          [data]="ViewingPattern['goJsDataModel']">

        </basic-pattern-flow-chart>
      </div>
      <div>
        <br>

        修正建議:
        <h4 *ngFor="let suggestionObj of ViewingPattern['patternSuggestions'];let i = index">
          {{i+':'+suggestionObj.suggestion}}
        </h4>

      </div>


    </div>

    <div class="ui-g-7" style="border: 2px solid #000000!important;">
      <case-flow-chart
        [Option]="ViewingFlowChartOption"
        [data]="ViewingFlowData">
      </case-flow-chart>


    </div>


  </div>

</p-dialog>


<!---->

<!--<case-flow-chart [Option]="flowChartOptions[1]" [data]="flowChartDataSets[1]"></case-flow-chart>-->

