<div class="ui-g">

  <div class="ui-g-3">
    開始日期:
    <p-calendar [(ngModel)]="startTime" [showIcon]="true" [showTime]="true" dateFormat="yy-mm-dd"></p-calendar>
    <span style="margin-left:35px"></span>

  </div>
  <div class="ui-g-3">
    結束日期:
    <p-calendar [(ngModel)]="endTime" [showIcon]="true" [showTime]="true" dateFormat="yy-mm-dd"></p-calendar>
    <span style="margin-left:35px"></span>
  </div>
  <div class="ui-g-3">
    <button pButton icon="fa fa-search" iconPos="right" (click)="getAllPatternsData()" label="搜尋"></button>

  </div>


</div>


<br>
<div style="text-align:center">
  <h1>Pattern管理</h1>
</div>
<div>  <!--//dataKey="id"-->
  <p-dataTable
    [value]="PatternsChartInfo"
    [paginator]="true"
    [rows]="5"
  >
    <p-header>Patterns</p-header>
    <p-column field="id" header="num" [style]="{'width':'60px'}"></p-column>
    <p-column field="projectName" header="projectName" [style]="{'width':'125px'}"></p-column>
    <p-column field="caseName" header="caseName" [style]="{'width':'125px'}"></p-column>
    <p-column field="goJsDataModel" header="pattern" [style]="{'width':'620px','height':'100px'}">
      <ng-template let-col let-pattern="rowData" pTemplate="body">
        <basic-pattern-flow-chart [Option]="pattern['goJsOption']"
                                  [data]="pattern[col.field]"></basic-pattern-flow-chart>
      </ng-template>

    </p-column>

    <p-column field="patternReasons" header="產生原因" [style]="{'width':'150px'}">
      <ng-template let-col let-patternReasons="rowData" pTemplate="body">
        <h6 *ngFor="let Reason of patternReasons[col.field]">{{Reason.reason}}</h6>

      </ng-template>
    </p-column>


    <p-column field="patternSuggestions" header="修正建議" [style]="{'width':'300px'}">
      <ng-template let-col let-patternSuggestions="rowData" pTemplate="body">
        <h6 *ngFor="let Suggestion of patternSuggestions[col.field]">{{Suggestion.suggestion}}</h6>

      </ng-template>
    </p-column>

    <p-column field="goJsDataModel" header="1" [style]="{'width':'100px'}">
      <ng-template let-col let-pattern="rowData" let-i="rowIndex" pTemplate="body">
        <button pButton icon="fa fa-eye" label="編輯" (click)="changeSelectedPatternData(i)"></button>
      </ng-template>
    </p-column>

    <p-column field="goJsDataModel" header="2" [style]="{'width':'100px'}">
      <ng-template let-col let-pattern="rowData" let-i="rowIndex" pTemplate="body">
        <button pButton icon="fa fa-trash" label="刪除" (click)="deleteSelectedPatternData(i)"></button>
      </ng-template>
    </p-column>

  </p-dataTable>
</div>


<p-dialog header="" [(visible)]="showPatternDialog"
          [responsive]="false" width="1500" height="800"
          showEffect="fade" [modal]="false"
          [closable]="true"
          (onHide)="hideDialog()"
>

  <div style="text-align:center">
    <h1>Pattern編輯</h1>
  </div>
  <div class="ui-g">
    <div class="ui-g-6" style="border: 2px solid #000000!important;">
      <basic-pattern-flow-chart
        [Option]="selectedPatternOption"
        [data]="selectedPatternInfo['goJsDataModel']">
      </basic-pattern-flow-chart>
    </div>

    <div class="ui-g-6" style="border: 2px solid #000000!important;">
      <div style="border-bottom: 2px solid #000000!important;">
        <p-dataTable
          [value]="selectedPatternInfo['patternReasons']"
          [paginator]="true"
          [rows]="5"

        >
          <p-header>產生原因</p-header>
          <p-column field="id" header="id" [style]="{'width':'50px'}"></p-column>
          <p-column field="reason" header="reason"></p-column>


          <p-column field="reason" header="1" [style]="{'width':'100px'}">
            <ng-template let-col let-pattern="rowData" let-i="rowIndex" pTemplate="body">
              <button pButton label="編輯" (click)="changeSelectedPatternReason(i)"></button>
            </ng-template>
          </p-column>


          <p-column field="reason" header="2" [style]="{'width':'100px'}">
            <ng-template let-col let-pattern="rowData" let-i="rowIndex" pTemplate="body">
              <button pButton label="刪除" (click)="deleteSelectedPatternReason(i)"></button>
            </ng-template>
          </p-column>

        </p-dataTable>

        <br>

        <input type="text" pInputText [(ngModel)]="newPatternReason"/>

        <!--<button pButton icon="fa fa-eye" label="編輯" (click)="changeSelectedPatternData(i)"></button>-->
        <button pButton (click)="genNewPatternReason()" label="新增原因"></button>
        <br>
        <div [hidden]="changeReasonHidden">
          <input type="text" pInputText [(ngModel)]="editableReason"/>
          <button pButton label="更改原因" (click)="updateReason()"></button>
        </div>
      </div>

      <div style="border-top: 2px solid #000000!important;">

        <div style="border-bottom: 2px solid #000000!important;">
          <p-dataTable
            [value]="selectedPatternInfo['patternSuggestions']"
            [paginator]="true"
            [rows]="5"

          >
            <p-header>服務建議</p-header>
            <p-column field="id" header="id" [style]="{'width':'50px'}"></p-column>
            <p-column field="suggestion" header="suggestion"></p-column>
          </p-dataTable>
        </div>
      </div>


    </div>


  </div>


</p-dialog>




