/* You can add global styles to this file, and also import other style files */
html, body, div.main {
  margin: 0;
  padding: 0;
}

html, body, div.main {
  height: 100%;
}

div.notMain {
  margin: 5px !important;
  padding: 5px !important;;
}
